$bgFront: #F8F272;
$bg1:#498b76;
$bg2:#FE5F55;
$bg3:#30BCED;
$bg4:#FC5130;
$bg5:#2E294E;

html {
  scroll-behavior: smooth;
  font-family: Poppins
}

body,
section,
h1 {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.entete{
  background-color: $bgFront;
}

#accueil {
  background-image: url(../../../app/img/gitminou.png);
  background-repeat: round;
  background-size: cover;
  position: relative;
  width: 100%;
  margin: 0 auto;
  }
  
#accueil h1 {
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  color: white; 
  }
  


#inscription {
  background-color: $bg1;
}
#galerie {
  background-color:$bg2;
}
#tableau {
  background-color: $bg3;
}
#video {
  background-color: $bg4;
}
#pied-page {

  background-color: rgb(27, 176, 214);
  height: 100%;
  position: relative;


}
