$accentColor: rgb(56 182 255);
$bgColor: #ffffe8;

@mixin flexCenter($justify, $direction){
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: $direction;
}

.entete{
    @include flexCenter(space-between, column);
    gap: 0vh;
    padding: 2em 0;
    @media screen and (min-width: 850px) {
        gap: 10vh;
        @include flexCenter(flex-start, column);
        padding: 0;
    }
    background-color: $bgColor;
    .logo{
        width: 250px;
    }
    .menu__recherche{
        @include flexCenter(flex-start, column);
        gap: 2em;
        .menu{
            display: flex;
            flex-direction: column;
            order: 1;
            gap: 1em;
            padding: 1em;
            width: 100%;
            @media screen and (min-width: 850px) {
                flex-direction: row;
                gap: 2em;
            }
            a{
                color: $accentColor;
                font-weight: 700;
                font-size: 1.5em;
                text-align: center;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .recherche label{
            @include flexCenter(flex-start, row);
            gap: 0.75em;
            input{
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid $accentColor;
                padding: 0.5em 0.75em;
                background-color: $bgColor;
            }
        }
        form{
            order: 3;
            @include flexCenter(space-between, row)
        }
        .burgerBox{
            display: none;
        }
    }
}