$accentColor: rgb(54, 54, 252);

.entete{
    display: flex;
    align-items: center;
    gap: 10vh;
    justify-content: flex-start;
    .logo{
        width: 250px;
    }
    .menu__recherche{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        .menu{
            display: flex;
            order: 1;
            gap: 2em;
            width: 100%;
            padding: 1em;
            a{
                color: $accentColor;
                font-weight: 700;
                font-size: 1.5em;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .recherche label{
            display: flex;
            align-items: center;
            gap: 0.75em;
            input{
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid $accentColor;
                padding: 0.5em 0.75em;
            }
        }
        form{
            order: 3;
        }
        .burgerBox{
            order: 2;
            display: flex;
        }
    }
}