#inscription{
   @include flexCenter(center, column);
   gap: 20px;
}

form{
   @include flexCenter(space-between, column);
   align-items: flex-end;
   gap: 20px;
   background-color: $bgColor;
   padding: 1em;
   border-radius: 5px;
   border: 1px solid #b9b96f;
   .inputBox input{
      background-color: $bgColor !important;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: solid 3px rgb(238, 234, 16);
      padding: 0.5em 0.7em;
      width: 25ch;
   }
   button{
      padding: 0.4em 0.7em;
      background-color: rgb(238, 234, 16);
      ;
      border: none;
      border-radius: 3px;
      &:hover{
         background-color: rgb(223, 220, 35);
         cursor: pointer;
      }
   }
}