@mixin flexCenter($justify, $direction){
   display: flex;
   align-items: center;
   justify-content: $justify;
   flex-direction: $direction;
}

@mixin grid($num_row, $gouttiere){
   display: grid;
   gap: $gouttiere;
   grid-template-columns: repeat($num_row, 1fr);
}

@mixin popingImg($duration, $scale){
   max-width: 100%;
   transform: scale($scale);
   transition-timing-function: ease-in-out;
   transition-duration: $duration;
}